<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8"/>
        <link rel="stylesheet" href={{ url_for('static', filename='style_email1.css') }}/>
        <!-- {{ url_for('static', filename='style_pep_recrute.css') }}-->
        <!-- '/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/style_pep_recrute.css' -->
        
        <title>PEP-inc</title>

    </head>
    <body>
        <div class="barre_principale">
            <div class="logo_junior">
                <a href="/home/{{name}}">
                    <img class= "logo_pep" src={{ url_for('static', filename='PEPLOGO.png') }}  alt= "Logo pep"/>
                    <div class="Junior">Ponts Études Projets</div>
                </a>
                <!-- {{ url_for('static', filename='PEPLOGO.png') }}-->
                <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/PEPLOGO.png' -->
                
            </div>
            <div>
                <nav>
                    <ul class="navbar-nav">
                        <li class="user_name"><a class="user" href="#">{{name}}</a></li>
                        <li class="nav-item"><a href="#"><img src={{ url_for('static', filename='settings.png') }} alt="bouton reglage" ></a></li>
                        <!-- {{ url_for('static', filename='settings.png') }}-->
                        <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/settings.png' -->
                        <li class="nav-item"><a href='/logout'><img src={{ url_for('static', filename='shutdown.png') }} alt="bouton shutdown" ></a></li>
                        <!-- {{ url_for('static', filename='shutdown.png') }}-->
                        <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/shutdown.png' -->
                    </ul>
                    <span class="navbar-toggler-icon"></span>
                </nav>
            </div>
        </div>

        <p class="titre">Prospection</p>
        <form class="form-signin" method="post">
            <div class="prospection">
                <div>
                    <label for="input_suiveur"> Suiveur </label>
                    <br>
                    <select name="_suiveur" id="input_suiveur" class="form-suiveur" required="required" >
                        {% for elem in suiveurs %}
                        <option> {{elem}} </option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label for="input_civilite"> Civilité </label>
                    <br>
                    <select name="_civilite" id="input_civilite" class="form-civilite" required="required" >
                        <option> Monsieur </option>
                        <option> Madame </option>
                    </select>
                </div>
                    

                </div>
                    <label for="input_nom">Nom</label>
                    <br>
                    <input name="_nom" id="input_nom" class="form-nom"  required="required" />
                <div>

                </div>
                    <label for="input_prenom">Prénom</label>
                    <br>
                    <input name="_prenom" id="input_prenom" class="form-prenom"  required="required" />
                <div>

                <div>
                    <label for="input_secteur"> Secteur d'activité </label>
                    <br>
                    <select name="_secteur" id="input_secteur" class="form-secteur" required="required" >
                        <!--<option value=automobile> Automobile</option>-->
                        <!--<option value=aviation> Aviation </option>-->
                        <option value=banque> Banque et Assurance </option>
                        <option value=BTP> BTP </option>
                        <!--<option value=energie> Energie </option>-->
                        <!--<option value=ENPC> ENPC </option>-->
                        <option value=finance> Finance et Conseil </option>
                        <!--<option value=industrie> Industrie </option>-->
                        <!--<option value=industrie> Industrie BTP </option>-->
                        <!--<option value=informatique> Informatique et digital </option>-->
                        <option value=logistique> Logistique et Livraison </option>-->
                        <!--<option value=stage> Offres de stage </option>-->
                        <option value=transport> Transport VET </option>
                        <!--<option value=autre> Autre </option>-->
                    </select>
                </div>
                
                </div>
                    <label for="input_entreprise">Entreprise</label>
                    <br>
                    <input name="_entreprise" id="input_entreprise" class="form-entreprise"  required="required" />
                <div>

                </div>
                    <label for="input_poste">Poste</label>
                    <br>
                    <input name="_poste" id="input_poste" class="form-poste"  required="required" />
                <div>

                <div>
                    <label for="input_numero">Mail</label>
                    <br>
                    <input name="_destinataire" id="input_destinataire" class="form-destinataire"  required="required" />
                </div>

                <div>
                    <label for="input_mode_contact"> Mode de contact </label>
                    <br>
                    <select name="_mode_contact" id="input_mode_contact" class="form-mode_contact" required="required" >
                        <option> LinkedIn </option>
                        <option> l'annuaire des Ponts </option>
                        <option> votre site internet </option>
                        <option> votre application </option>
                        <option> un contact commun </option>
                    </select>
                </div>

                <!--
                   <div>
                    <label for="input_numero">Corps</label>
                    <br>
                    <TEXTAREA name="_corps" rows=100 cols=40 class="form-corps"></TEXTAREA>

                </div> 
                -->
                

                <button class="valider" type="submit" width="50%">Envoyer le mail</button>
                <div class="ajouter">
                    <button onclick="window.location.href = '/prospection/{{name}}/appercu';" type="button" class="Ajouter"> Afficher l'apperçu </button>
                </div>
            </div>
        </form>
    </body>
</html>