<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8"/>
        <link rel="stylesheet" href={{ url_for('static', filename='style_pep_recrute.css') }}/>
        <!-- {{ url_for('static', filename='style_pep_recrute.css') }}-->
        <!-- '/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/style_pep_recrute.css' -->
        
        <title>PEP-inc</title>

    </head>
    <body>
        <div class="barre_principale">
            <div class="logo_junior">
                <a href="/home/{{name}}">
                    <img class= "logo_pep" src={{ url_for('static', filename='PEPLOGO.png') }}  alt= "Logo pep"/>
                    <div class="Junior">Ponts Études Projets</div>
                </a>
                <!-- {{ url_for('static', filename='PEPLOGO.png') }}-->
                <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/PEPLOGO.png' -->
                
            </div>
            <div>
                <nav>
                    <ul class="navbar-nav">
                        <li class="user_name"><a class="user" href="#">{{name}}</a></li>
                        <li class="nav-item"><a href="#"><img src={{ url_for('static', filename='settings.png') }} alt="bouton reglage" ></a></li>
                        <!-- {{ url_for('static', filename='settings.png') }}-->
                        <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/settings.png' -->
                        <li class="nav-item"><a href='/logout'><img src={{ url_for('static', filename='shutdown.png') }} alt="bouton shutdown" ></a></li>
                        <!-- {{ url_for('static', filename='shutdown.png') }}-->
                        <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/shutdown.png' -->
                    </ul>
                    <span class="navbar-toggler-icon"></span>
                </nav>
            </div>
        </div>

        <p class="titre">PER Recrute</p>
        <form class="form-signin" method="post">
            <div class="pep_recrute">
            
                <div>
                    <label for="input_suiveur"> Suiveur </label>
                    <br>
                    <select name="_suiveur" id="input_suiveur" class="form-suiveur" required="required" >
                        {% for elem in suiveurs %}
                        <option> elem </option>
                        {% endfor %}

                    </select>
                </div>

                <div>
                    <fieldset>
                        <legend>Départements concernés :</legend>
                        <div>
                          <input type="checkbox" id="IMI" name="departement" value="IMI">
                          <label for="IMI">IMI</label>
                        </div>
    
                        <div>
                          <input type="checkbox" id="SEGF" name="departement" value="SEGF">
                          <label for="SEGF">SEGF</label>
                        </div>
    
                        <div>
                            <input type="checkbox" id="VET" name="departement" value="VET">
                            <label for="VET">VET</label>
                        </div>
    
                        <div>
                            <input type="checkbox" id="GMM" name="departement" value="GMM">
                            <label for="GMM">GMM</label>
                        </div>
    
                        <div>
                            <input type="checkbox" id="GCC" name="departement" value="GCC">
                            <label for="GCC">GCC</label>
                        </div>
    
                        <div>
                            <input type="checkbox" id="GI" name="departement" value="GI">
                            <label for="GI">GI</label>
                        </div>
    
                        <div>
                            <input type="checkbox" id="1A" name="departement" value="1A">
                            <label for="1A">1A</label>
                        </div>
    
                      </fieldset>
                </div>
                
                <div>
                    <label for="input_numero">Destinataire</label>
                    <br>
                    <input name="_destinataire" id="input_destinataire" class="form-destinataire"  required="required" />
                </div>

                <div>
                    <label for="input_numero">Titre de l'étude</label>
                    <br>
                    <input name="_titre" id="input_titre" class="form-titre"  required="required" />
                </div>

                <div>
                    <label for="input_numero">Prix</label>
                    <br>
                    <input name="_prix" id="input_prix" class="form-prix"  required="required" />
                </div>

                <div>
                    <label for="input_numero">Client</label>
                    <br>
                    <input name="_client" id="input_client" class="form-client"  required="required" />
                </div>

                <div>
                    <label for="input_numero">Prix</label>
                    <br>
                    <input name="_client" id="input_client" class="form-client"  required="required" />
                </div>

                <!--
                   <div>
                    <label for="input_numero">Corps</label>
                    <br>
                    <input name="_corps" id="input_corps" class="form-corps"  required="required" />
                </div> 
                -->


                <div>
                    <label for="input_numero">Corps</label>
                    <br>
                    <TEXTAREA name="_corps" rows=100 cols=40 class="form-corps"></TEXTAREA>

                </div>

                <button class="valider" type="submit" width="50%">Envoyer le mail</button>
            </div>
        </form>
    </body>
</html>