<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8"/>
        <link rel="stylesheet" href={{ url_for('static', filename='style_tresorier.css') }}/>
        <!-- {{ url_for('static', filename='style_tresorier.css') }}-->
        <!-- '/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/style_tresorier.css' -->
        
        <title>PEP-inc</title>

    </head>
    <body>
        <div class="barre_principale">
            <div class="logo_junior">
                <a href="/home/{{name}}">
                    <img class= "logo_pep" src={{ url_for('static', filename='PEPLOGO.png') }}  alt= "Logo pep"/>
                    <div class="Junior">Ponts Études Projets</div>
                </a>
                <!-- {{ url_for('static', filename='PEPLOGO.png') }}-->
                <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/PEPLOGO.png' -->
                
            </div>
            <div>
                <nav>
                    <ul class="navbar-nav">
                        <li class="user_name"><a class="user" href="#">{{name}}</a></li>
                        <li class="nav-item"><a href="#"><img src={{ url_for('static', filename='settings.png') }} alt="bouton reglage" ></a></li>
                        <!-- {{ url_for('static', filename='settings.png') }}-->
                        <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/settings.png' -->
                        <li class="nav-item"><a href='/logout'><img src={{ url_for('static', filename='shutdown.png') }} alt="bouton shutdown" ></a></li>
                        <!-- {{ url_for('static', filename='shutdown.png') }}-->
                        <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/shutdown.png' -->
                    </ul>
                    <span class="navbar-toggler-icon"></span>
                </nav>
            </div>
        </div>
        <p class="titre">Factures</p>
        <div class="ajouter">
            <button onclick="window.location.href = '/tresoreie/{{name}}/add_delete';" type="button" class="Ajouter"> Ajouter une facture </button>
        </div>
        <table class="tableau">
            <thead class="thead-dark">
                <tr class="premiere_ligne">
                    <th>Numéro</th>
                    <th>Type</th>
                    <th>Client</th>
                    <th>Montant</th>
                    <th>État</th>
                    <th>Date d'échéance</th>
                    <th>Date de paiement</th>
                    <th>Modifier</th>
                </tr>
            </thead>
            <tbody>
                
                {% for facture in BDD_facture %}
                    <tr>
                        <td>{{facture.numero}}</td>
                        <td>{{facture.Type}}</td>
                        
                        <td>{{facture.client}}</td>
                        <td>{{facture.montant}}</td>
                        <td>{{facture.etat}}</td>
                        {% if facture.retard == True  %}
                            <td style="color: rgb(218, 7, 49);">{{facture.date_echeance}}</td>
                        {% else %}
                            <td style="color: rgb(95, 218, 7);">{{facture.date_echeance}}</td>
                        {% endif %}
                        <td>{{facture.date_paiement}}</td>
                        <td><a href ='/tresoreie/{{name}}/{{facture._id}}/modify'><img src="{{ url_for('static', filename='edit1.png') }}" class="edit" height="16" width="16" ></a></td>
                    </tr>
                {% endfor %}
                
                  
            </tbody>
        </table>
        

            

            

        </form>
    
    </body>
</html>