<!DOCTYPE html>
<html>
    <head>
        <meta charset= "UTF-8"/>
        <link rel="stylesheet" href={{ url_for('static', filename='style_front_copie1.css') }}/>
        
        
        <title>PEP-inc</title>

    </head>
    <body>
        <div class="barre_principale">
            <div class="logo_junior">
                <img class= "logo_pep" src={{ url_for('static', filename='PEPLOGO.png') }}  alt= "Logo pep"/>
                <!-- {{ url_for('static', filename='PEPLOGO.png') }}-->
                <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/PEPLOGO.png' -->
                <div class="Junior">Ponts Étude Projets</div>
            </div>
            <div>
                <nav>
                    <ul class="navbar-nav">
                        <li class="user_name"><a class="user" href="#">{{username}}</a></li>
                        <li class="nav-item"><a href="#"><img src={{ url_for('static', filename='settings.png') }} alt="bouton reglage" ></a></li>
                        <!-- {{ url_for('static', filename='settings.png') }}-->
                        <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/settings.png' -->
                        <li class="nav-item"><a href='/login'><img src={{ url_for('static', filename='shutdown.png') }} alt="bouton shutdown" ></a></li>
                        <!-- {{ url_for('static', filename='shutdown.png') }}-->
                        <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/shutdown.png' -->
                    </ul>
                    <span class="navbar-toggler-icon"></span>
                </nav>
            </div>
        </div>

        <div class="option">
            <div class="mail_feedback">
                <div href='#' class="carré_mail">
                    <a href='#' class="card">
                        
                        <div><img class="mail" src={{ url_for('static', filename='logo_mail.png') }} alt=""></div>
                        <!-- {{ url_for('static', filename='logo_mail.png') }}-->
                        <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/logo_mail.png' -->
                        <div class="email" style="color: rgb(0, 0, 0);">Email</div>
                    </a>
                </div>
                <div class="carré_feedback">
                    <a href='#' class= "card">
                        
                        <div><img class="feedback" src={{ url_for('static', filename='survey.png') }} alt=""></div>
                        <!-- {{ url_for('static', filename='logo_mail.png') }}-->
                        <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/survey.png' -->
                        <div class="feed" style="color: rgb(0, 0, 0);">Feedback</div>
                    </a>
                </div>
                <div class="carré_weekly">
                    <a  href='#' class= "card">
                        
                        <div><img class="weekly" src={{ url_for('static', filename='weekly.png') }} alt=""></div>
                        <!-- {{ url_for('static', filename='weekly.png') }}-->
                        <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/weekly.png' -->
                        <div class="week" style="color: rgb(0, 0, 0);">Weekly</div>
                    </a>
                </div>
                <div class="carré_agenda">
                    <a  href='#' class= "card">
                        
                        <div><img class="agenda" src={{ url_for('static', filename='agenda.png') }} alt=""></div>
                        <!-- {{ url_for('static', filename='agenda.png') }}-->
                        <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/agenda.png' -->
                        <div class="agen" style="color: rgb(0, 0, 0);">Agenda</div>
                    </a>
                </div>
            </div>
            <div class="stat_money">
                <div class="carré_stat">
                    <a href='#' class="card">
                        
                        <div><img class="Statistiques" src={{ url_for('static', filename='statistics.png') }} alt=""></div>
                        <!-- {{ url_for('static', filename='statistics.png') }}-->
                        <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/statistics.png' -->
                        <div class="stat" style="color: rgb(0, 0, 0);">Statistiques</div>
                    </a>
                </div>
                <div class="carré_money">
                    <a href='/tresorerie/{{username}}' class="card">
                        
                        <div>
                            <img class="Tresorerie" src={{ url_for('static', filename='money-bag-euro.png') }} alt="">
                            <!-- {{ url_for('static', filename='money-bag-euro.png') }}-->
                            <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/money-bag-euro.png' -->
                        </div>
                        <div class="treso" style="color: rgb(0, 0, 0);">Trésorier</div>
                    </a>
                </div>
                <div class="carré_suividé">
                    <a href='#' class="card">
                        
                        <div>
                            <img class="suividé" src={{ url_for('static', filename='suivi.png') }} alt="">
                            <!-- {{ url_for('static', filename='suivi.png') }}-->
                            <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/suivi.png' -->
                        </div>
                        <div class="suivi" style="color: rgb(0, 0, 0);">Suivi d'étude</div>
                    </a>
                </div>
                <div class="carré_pep_recrutre">
                    <a href= '#' class="card">
                        <div>
                            <img class="pep_recrutre" src={{ url_for('static', filename='pep_recrute.png') }} alt="">
                            <!-- {{ url_for('static', filename='pep_recrute.png') }}-->
                            <!--'/Users/christinevescovali-franceschi/Desktop/Projet_TD_LOG/TD_LOG_X_PEP/static/pep_recrute.png' -->
                        </div>
                        <div class="recrute" style="color: rgb(0, 0, 0);">PEP recrute</div>
                    </a>
                </div>
            </div>
        </div>
        
    </body>
</html>