<head>
    <style type="text/css" media="screen">
     #yellow {
         display: inline-block;
         margin: 0px 0.5%;
         width: 70px;
         height: 70px;
         border-radius: 50%;
         font-size: 23px;
         color: rgb(255, 200, 77);
         line-height: 70px;
         text-align: center;
         border: 3px solid rgb(255, 200, 77);
     }

     #gray {
         display: inline-block;
         margin: 0px 0.5%;
         width: 70px;
         height: 70px;
         border-radius: 50%;
         font-size: 23px;
         color: rgb(237, 237, 237);
         line-height: 70px;
         text-align: center;
         border: 3px solid rgb(237, 237, 237);
     }
    </style>
</head>

<div style="position: relative; top:0; left:0; margin: 0 auto; max-width: 1000px; min-height: 1000px; background-color: none;">
        <div style="width: 100%; min-height: 150px; background-color: #404040;">

                        <div style="display: inline-block; margin-left: 5%; margin-top:25px; margin-bottom:10px; width:100px;">
                            <img src="https://junior-pep.fr/img/logo.png" weight="100px" height="100px">
                        </div>
                        <div style="display: inline-block; margin-left: 50px;">
                            <p style="margin-top: 10px; margin-bottom: 10px; font-family: &quot;verdana&quot;; font-weight: bold; font-style: italic; color: #FFFF; font-size: 55px;">Ponts Etudes Projets</p>
                        </div>
        </div>
        <div style="margin-top: 50px; font-family: &quot;verdana&quot;;">
            <span id="detailsOutput"> 
                Bonjour $civilite $nom,
                    <br>
                    <br>
                    Je me pr&eacute;sente $suiveur, &eacute;l&egrave;ve en deuxi&egrave;me ann&eacute;e &agrave; l&rsquo;&eacute;cole des Ponts ParisTech et junior-consultant au sein de la Junior Entreprise Ponts &eacute;tudes Projets. Je me permets de vous contacter car j&rsquo;ai eu vos coordonn&eacute;es via $mode_contact.
                    <br>
                    <br>
                    Le secteur du G&eacute;nie Civil et de la Construction est un p&ocirc;le d&rsquo;expertise de notre Junior Entreprise d&eacute;coulant de l&rsquo;excellence et de l&rsquo;anciennet&eacute; de notre Ecole concernant ce sujet. De plus, l&rsquo;aspect num&eacute;rique avec notamment, l&rsquo;&eacute;laboration de mod&egrave;les 3D et d&rsquo;analyse num&eacute;rique pouss&eacute;e dans la conception est un sujet en pleine expansion et dont notre Junior Entreprise a su tirer profit. 
                    <br>
                    <br>
                    Nous sommes convaincus que ces deux domaines coupl&eacute;s peuvent mener &agrave; de nouvelles technologies innovantes dans la sph&egrave;re ing&eacute;nierie avec notamment le proc&eacute;d&eacute; BIM qui permet une visualisation pr&eacute;cise et temps r&eacute;el sous forme de maquette 3D. 
                    <br>
                    <br>
                    Enfin, il est clair que le savoir-faire Construction et G&eacute;nie Civil ainsi que le fort corps de m&eacute;tier ax&eacute; sur l&rsquo;ing&eacute;nierie que poss&egrave;de $entreprise concordent tout &agrave; fait avec les domaines d&rsquo;expertise enseign&eacute;s &agrave; l&rsquo;&eacute;cole. C&rsquo;est pourquoi, il nous semble important, pour les &eacute;tudiants susceptibles de r&eacute;aliser des missions, d&rsquo;agir en collaboration ponctuelle avec de tels acteurs qui sont vraisemblablement les entreprises cibles de beaucoup d&rsquo;&eacute;tudiants en sortie d&rsquo;&eacute;cole.
                    Plus g&eacute;n&eacute;ralement, la Junior-Entreprise de l&rsquo;&eacute;cole des Ponts ParisTech, met &agrave; la disposition des entreprises les enseignements pluridisciplinaires de l&rsquo;&eacute;cole, en particulier dans les domaines de la transition &eacute;cologique, de la strat&eacute;gie et de l&rsquo;aide &agrave; la d&eacute;cision et de la transformation digitale. Si vous d&eacute;sirez plus d&rsquo;informations, vous pouvez vous rendre sur notre site internet &agrave; l&rsquo;adresse suivante junior-pep.fr.
                    <br>
                    <br>
                    Dans cette optique, nous souhaiterions savoir s&rsquo;il &eacute;tait possible pour nous de venir nous pr&eacute;senter ainsi que de pr&eacute;senter les prestations que nous proposons. Ainsi, pensez-vous qu&rsquo;une r&eacute;union avec votre service, ou bien un autre d&eacute;partement de votre entreprise qui serait potentiellement int&eacute;ress&eacute;, serait envisageable ?
                    <br>
                    <br>
                    Avec mes remerciements,
                    <br>
                    Bien &agrave; vous
            </span>
            <span id="signatureOutput"></span>
        </div>
    </div>
