<head>
    <style type="text/css" media="screen">
     #yellow {
         display: inline-block;
         margin: 0px 0.5%;
         width: 70px;
         height: 70px;
         border-radius: 50%;
         font-size: 23px;
         color: rgb(255, 200, 77);
         line-height: 70px;
         text-align: center;
         border: 3px solid rgb(255, 200, 77);
     }

     #gray {
         display: inline-block;
         margin: 0px 0.5%;
         width: 70px;
         height: 70px;
         border-radius: 50%;
         font-size: 23px;
         color: rgb(237, 237, 237);
         line-height: 70px;
         text-align: center;
         border: 3px solid rgb(237, 237, 237);
     }
    </style>
</head>

<div style="position: relative; top:0; left:0; margin: 0 auto; max-width: 1000px; min-height: 1000px; background-color: none;">
        <div style="width: 100%; min-height: 150px; background-color: #404040;">

                        <div style="display: inline-block; margin-left: 5%; margin-top:25px; margin-bottom:10px; width:100px;">
                            <img src="https://junior-pep.fr/img/logo.png" weight="100px" height="100px">
                        </div>
                        <div style="display: inline-block; margin-left: 50px;">
                            <p style="margin-top: 10px; margin-bottom: 10px; font-family: &quot;verdana&quot;; font-weight: bold; font-style: italic; color: #FFFF; font-size: 55px;">Ponts Etudes Projets</p>
                        </div>
        </div>
        <div style="margin-top: 50px; font-family: &quot;verdana&quot;;">
            <span id="detailsOutput"> 
                Bonjour $civilite $nom,
                    <br>
                    <br>
                    Je me pr&eacute;sente $suiveur, &eacute;l&egrave;ve en deuxi&egrave;me ann&eacute;e &agrave; l&rsquo;&eacute;cole des Ponts ParisTech et junior-consultant au sein de la Junior Entreprise Ponts &eacute;tudes Projets. Je me permets de vous contacter car j&rsquo;ai eu vos coordonn&eacute;es via $mode_contact.
                    <br>
                    <br>
                    Le secteur de la logistique dans lequel exerce votre entreprise $entreprise est un p&ocirc;le d&rsquo;expertise de notre Junior Entreprise d&eacute;coulant de l&rsquo;excellence et de l&rsquo;anciennet&eacute; de notre &eacute;cole concernant ce domaine. En effet, notre &eacute;cole poss&egrave;de tout un d&eacute;partement consacr&eacute; &agrave; l&rsquo;&eacute;tude des probl&eacute;matiques de Supply Chain. De plus, les th&eacute;matiques d&rsquo;optimisation des process et des flux sont des sujets en pleine expansion et dont notre Junior Entreprise a su tirer profit.
                    <br>
                    <br>
                    Mod&eacute;lisation et simulation math&eacute;matique (ordonnancement, files d&rsquo;attente, taille de lots,...), approche &eacute;conomique (coûts d&rsquo;exploitation, investissements et calcul de rentabilit&eacute;,...), les &eacute;tudiants de notre &eacute;cole ont d&eacute;j&agrave; eu l&rsquo;opportunit&eacute; de travailler sur ces sujets pour de grandes entreprises comme LVMH, Michelin ou encore groupe Casino, et nous sommes convaincus que nous pourrons vous aider vous aussi &agrave; mener &agrave; bien vos projets.
                    <br>
                    <br>
                    Plus g&eacute;n&eacute;ralement, la Junior-Entreprise de l&rsquo;&eacute;cole des Ponts ParisTech, met &agrave; la disposition des entreprises les enseignements pluridisciplinaires de l&rsquo;&eacute;cole, en particulier dans les domaines de la transition &eacute;cologique, de la strat&eacute;gie et de l&rsquo;aide &agrave; la d&eacute;cision et de la transformation digitale. Si vous d&eacute;sirez plus d&rsquo;informations, vous pouvez vous rendre sur notre site internet &agrave; l&rsquo;adresse suivante junior-pep.fr.
                    <br>
                    <br>
                    Dans cette optique, nous souhaiterions savoir s&rsquo;il &eacute;tait possible pour nous de venir nous pr&eacute;senter ainsi que de pr&eacute;senter les prestations que nous proposons. Ainsi, pensez-vous qu&rsquo;une r&eacute;union avec votre service, ou bien un autre d&eacute;partement de votre entreprise qui serait potentiellement int&eacute;ress&eacute;, serait envisageable ?
                    <br>
                    <br>
                    Avec mes remerciements,
                    <br>
                    Bien &agrave; vous
            </span>
            <span id="signatureOutput"></span>
        </div>
    </div>
